.login{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #1e4450;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: auto;
    height: auto;
    padding: 30px 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.384),
                0 0 40px rgba(0, 0, 0, 0.705),
                0 0 80px rgba(180, 180, 180, 0.336);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1{
        color: #fff;
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        input{
            width: 300px;
            height: 40px;
            margin: 10px 0;
            padding: 0 10px;
            border: none;
            border-radius: 5px;
            background: #4e4e4e;
            outline: none;
            transition: all 0.3s ease-in-out;


            &::placeholder{
                color: #fff;
            }

            &:focus{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
        button{
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            background: #16161670;
            color: #000;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s ease-in-out;

            &:hover{
                background: #161616;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }

            &:active{
                background: #757575;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
.form-link{
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    a{
        color: #fff;
    }
}