.telegram{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #1e4450;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;

    h1{
        color: #fff;
        text-align: center;
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
}

.chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    overflow-y: scroll;
    padding: 20px;
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background: #1e4450;
    }
    &::-webkit-scrollbar-thumb{
        background: #00000000;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: #ffffff;
        border: 1px solid #ffffff00;
        border-radius: 10px;
    }

    .message{
        width: clamp(150px, 30%, 600px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #505050d5;
        border-radius: 15px;
        padding: 12px 20px;
        position: relative;
        .name{
            color: #ffffff;
            font-size: 16px;
            position: absolute;
            top: -5px;
            left: 5px;
        }
        .message-text{
            color: #fff;
            font-size: 18px;
            word-break: break-all;
        }
        .time{
            color: #fff;
            font-size: 14px;
            position: absolute;
            bottom: -2px;
            right: 10px;
        }
    }

    .my-message{
        background: #002fff8e;
        position: relative;
        margin-left: 70%;
    }
}

.container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        input{
            width: 20%;
            height: 40px;
            padding: 0 10px;
            border: none;
            border-radius: 5px;
            background: #4e4e4e;
            outline: none;
            transition: all 0.3s ease-in-out;
            &::placeholder{
                color: #fff;
            }
            &:focus{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
        button{
            width: auto;
            height: 40px;
            padding: 0 10px;
            border: none;
            border-radius: 5px;
            background: #16161670;
            color: #000;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: #161616;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
            &:active{
                background: #757575;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
    }